{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% set row_classes = [
    default_row_class ? 'views-row',
  ] %}
  {% set field_link = row.content.field_link.0 %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="hero bg-esn-cyan position-relative d-flex">
      <div class="hero-image-wrapper">
        <img src="{{ row.content.field_image.0['#markup'] }}"
             class="p-d-block mx-lg-auto img-fluid position-absolute hero-image" alt="ESN people" loading="lazy">
      </div>
      <div class="container hero-message-container">
        <div class="row">
          <div class="hero-message">
            {# todo get the site slogan in a hook_preprocess #}
            <h1 class="display-5 fw-bold">ESN Section</h1>
            <p class="lead">{{ row.content.field_body | field_value }}</p>
            <div class="gap-2 d-md-flex">
              <a class="btn btn-link action-link"
                 href="{{ path(field_link['#url'].routeName, field_link['#url'].routeParameters) }}">
                {{ field_link['#title'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endfor %}
