{#
/**
 * @file
 * Template for the branding block.
 */
#}
{% embed '@radix/block/block.twig' with {
  html_tag: 'div',
} %}

  {% block content %}
    {% include '@satellite_theme/navbar/navbar-brand.twig' with {
      text: site_name,
      image: site_logo,
      height: '73px',
      path: path('<front>'),
      alt: elements.content.site_name['#markup'] ~ ' logo' ,
    } %}
  {% endblock %}

{% endembed %}
