{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: not logged_in ? 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto ms-auto mb-2 mb-lg-0">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="pt-5 pb-5">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  <hr>

  {# footer section #}

  <footer class="container pt-2 pt-md-3">
    <div class="row">

      <div class="col-md-2">
        <ul class="list-unstyled text-small">

          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ front_page }}"><img
                  src="{{ esn_data.logo_url }}" alt="website logo" width="100%"/></a>
          </li>

        </ul>
      </div>
      <div class="col-md-5">

        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none fw-bold" href="#">{{ site_name }}</a></li>
          <li class="mb-1 text-decoration-none footer-color-grey">{{ esn_data.address|nl2br }}</li>
{#          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">1234 Erasmus City</a></li>#}
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">{{ esn_data.email }}</a></li>
        </ul>
      </div>
      <div class="col-md-3  d-flex flex-column justify-content-start align-items-end">

        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.esn.org/" target="_blank">ESN International</a></li>
          {% if esn_data.level is same as 'local' %}
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ esn_data.country_site }}" target="_blank">{{ esn_data.country_name }}</a></li>
          {% endif %}
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.esncard.org" target="_blank">ESNcard.org</a></li>
        </ul>
      </div>
      <div class="col-md-2 d-flex flex-column justify-content-start align-items-end">
        <ul class="list-unstyled text-small">
          {% if esn_data.facebook %}
          <li class="mb-1"><a class="link-secondary text-decoration-none fw-bold" href="{{ esn_data.facebook }}" target="_blank">Facebook</a></li>
          {% endif %}
          {% if esn_data.twitter %}
          <li class="mb-1"><a class="link-secondary text-decoration-none fw-bold" href="{{ esn_data.twitter }}" target="_blank">Twitter</a></li>
          {% endif %}
          {% if esn_data.instagram %}
          <li class="mb-1"><a class="link-secondary text-decoration-none fw-bold" href="{{ esn_data.instagram }}" target="_blank">Instagram</a></li>
          {% endif %}
        </ul>
      </div>


    </div>
  </footer>
</div>
