// ------------------------------------------------
//  ESN COLORS
// ------------------------------------------------

$esn-cyan: #00aef0;
$esn-green: #7ac143;
$esn-magenta: #ed008c;
$esn-orange: #f57b20;
$esn-dark-blue: #2e3192;

$esn-colors: (
    "esn-cyan": $esn-cyan,
    "esn-green": $esn-green,
    "esn-magenta": $esn-magenta,
    "esn-orange": $esn-orange,
    "esn-dark-blue": $esn-dark-blue,
);

$gray-10: #333333;
